{
  "observability": {
    "enabled": true,
    "environment": "development",
    "enablePerformanceRecording": true,
    "otlpEndpoint": "https://otel.observability.app.launchdarkly.com"
  },
  "environments": [
    {
      "env": "dev",
      "clientId": "YOUR_CLIENT_SIDE_ID_DEV",
      "attributes": {
        "label": "Dev",
        "order": 1
      }
    },
    {
      "env": "test",
      "clientId": "YOUR_CLIENT_SIDE_ID_TEST",
      "attributes": {
        "label": "Test",
        "order": 2
      }
    },
    {
      "env": "stage",
      "clientId": "YOUR_CLIENT_SIDE_ID_STAGE",
      "attributes": {
        "label": "Staging",
        "order": 3
      }
    },
    {
      "env": "production",
      "clientId": "YOUR_CLIENT_SIDE_ID_PRODUCTION",
      "attributes": {
        "label": "Production",
        "order": 4
      }
    }
  ]
}
